src/**/__pycache__
*.pyc 
test-results.xml.
src/test-results.xml
test-results.xml
.coverage.xml
*.pytest_cache
test-output.xml
loggingutils/*
coverage.xml
.coverage
.venv
.env
htmlcov
*.iml
.idea
venv
.pylintrc